{% extends 'layouts/log_in.html' %}

{% block title %}后台登录{% endblock %}

{% block css %}
<style type="text/css">
  body{
	background: #2a2a2a;
  }
</style>
{% endblock %}

{% block log_in_bd %}
<div class="container login_form">
  <form action="{{ BASE_URL }}user">
	<p>用户名：
	  <input type="text" class="span3" placeholder="请输入登陆邮箱" />
	</p>
	<p>密&nbsp;&nbsp;&nbsp;码：
	  <input type="password" class="span3" placeholder="" />
	</p>
	<p>验证码：
	  <input type="text" class="span1" placeholder="请输入" />
	  <img class="verify" src="{{ IMG_URL }}login/pin.gif" />
	  <a href="javascript:;">看不清，换一张</a>
	</p>
	<p class="btns">
	  <input type="submit" class="login_btn" value="" />
	</p>
	<!-- 出错信息 -->
	<div class="alert alert-error">
	  <a class="close" data-dismiss="alert" href="#">×</a>
	  您的账号密码有误
	</div>
  </form>
  <div class="form_shadow"></div>
  
  
</div>


{% endblock %}

{% block changelog %}
[@] 2012-5-24 * 登录页因为需要空白部分为黑色，增加了一个顶部的css样式
[@] 2012-5-23 * 修改了验证码刷新连接样式
			  * 改变了整体风格
[+] 2012-5-22 * 加入title信息
{% endblock %}