{% extends 'layouts/logged_in.html' %}

{% block title %}用户管理{% endblock %}

{% block js_bottom %}
<script src="{{ JS_URL }}country.js"></script>
<script src="{{ JS_URL }}school.js"></script>
<script src="{{ JS_URL }}jquery.areaselector.js"></script>
<script src="{{ JS_URL }}jquery.schoolselector.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.area').areaSelector();
    $.renderArea('-');
});

var rec = function(uid, flag){
    var msg = ['确定推荐该用户？', '确定取消推荐？'];
    art.dialog({
        id: 'recommend_user',
        content: msg[flag],
        ok: function(){
            alert('确定操作!');
        },
        cancel: function(){
            alert('取消操作!');
        }
    });
};

var user_handler = function(flag){
    var uids = '';
    $('.selectall:checked').each(function(){
        uids += $(this).val()+',';
    });
    
    var msg = ['认证用户？', '取消认证？', '冻结用户？', '取消冻结？', '删除用户？'];
    var url = ['认证用户的URL', '取消认证的URL', '冻结用户URL', '取消冻结URL', '删除用户URL']
    art.dialog({
        id: 'user_handler',
        content: msg[flag],
        ok: function(){
            alert('用户id('+uids+')确定操作!');
            $.get(url[flag], function(resp){
                
            });
        },
        cancel: function(){
            alert('取消操作!');
        }
    });
};
</script>
{% endblock %}


{% block logged_in_bar %}
<ul class="nav nav-list">
  <li class="nav-header">用户管理</li>
  <li class="active"><a href="?menu=1">用户列表</a></li>
</ul>
{% endblock %}

{% block logged_in_bd %}

{% if NAV.menu == 1 and NAV.tab == 1 %}
{% include 'includes/user/menu_1.html' %}
{% endif %}

{% if NAV.menu == 1 and NAV.tab == 'detail' %}
{% include 'includes/user/menu_1_detail.html' %}
{% endif %}

{% endblock %}


{% block changelog %}
[+] 20120-5-25 * 加入学院JS
[@] 20120-5-24 * 修改了用户筛选里的name
[+] 20120-5-23 * 初版,查询按钮变小，集成勾选操作
{% endblock %}