<div class="page-header">
  <h3>用户列表 <small>( 共123456789人 )</small></h3>
</div>
<form action="" method="get" class="well form-inline">
    <div class="control-group">
    <label class="control-label">关键词：</label>
    <input class="span3" type="text" name="keyword" placeholder="可搜索邮箱、姓名或ID" />
    &nbsp;&nbsp;
    <label class="control-label">所属城市：</label>
    <span class="area">
        <select name="country" class="select_c select_attr" {% if _get.country != '-1' %}data-c="{{ _get.country }}"{% endif %}>
        </select>
        <select name="province" class="select_p select_attr" {% if _get.province != '-1' %}data-p="{{ _get.province }}"{% endif %}>
        </select>
        <select name="city" class="select_r select_attr" {% if _get.city != '-1' %}data-r="{{ _get.city }}"{% endif %}>
        </select>
    </span>
    </div>
    <div class="control-group">
    <label class="control-label">是否冻结：</label>
    <select name="frozen" class="span1">
        <option value="">----</option>
        <option value="1">是</option>
        <option value="0">否</option>
    </select>
    &nbsp;&nbsp;
    <label class="control-label">认证状态：</label>
    <select name="auth" class="span1">
        <option value="">----</option>
        <option value="1">认证用户</option>
        <option value="0">普通用户</option>
    </select>
    &nbsp;&nbsp;
    <label class="control-label">身份：</label>
    <select name="frozen" class="span1">
        <option value="">----</option>
        <option value="1">创业者</option>
    </select>
    &nbsp;&nbsp;
    <label class="control-label">推荐首页：</label>
    <select name="recommend" class="span1">
        <option value="">----</option>
        <option value="1">已推荐</option>
        <option value="0">未推荐</option>
    </select>
    <input type="submit" class="btn btn-primary" value="查询" />
    </div>
</form>

<div class="user_handler">
    <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="icon icon-user"></span> 勾选用户操作
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="javascript:user_handler(0);"><span class="icon-ok"></span> 认证用户</a></li>
      <li><a href="javascript:user_handler(1);">取消认证</a></li>
      <li><a href="javascript:user_handler(2);"><span class="icon-ban-circle"></span> 冻结用户</a></li>
      <li><a href="javascript:user_handler(3);">取消冻结</a></li>
      <li><a href="javascript:user_handler(4);"><span class="icon-trash"></span> 删除用户</a></li>
    </ul>
  </div>
</div>

<table class="table table-bordered">
<thead>
  <tr>
    <th class="span1">
        <label class="checkbox inline">
            <input type="checkbox" value="all" onclick="selectall('.selectall')" /> 全选</label>
    </th>
    <th>ID</th>
    <th>邮箱</th>
    <th>姓名</th>
    <th>身份</th>
    <th>所在地</th>
    <th>认证</th>
    <th>冻结</th>
    <th>操作</th>
  </tr>
</thead>
<tbody>
{% for i in range(1, 20) %}
<tr>
    <td><input type="checkbox" value="{{ i }}" class="selectall" /></td>
    <td>{{ i }}</td>
    <td>ppclean@qq.com</td>
    <td><a href="{{ BASE_URL }}user?menu=1&tab=detail">林宇</a></td>
    <td>职业人</td>
    <td><em area-data="0-0-0"></em></td>
    <td class="span1"><span class="{% if i%2 == 0 %}icon-ok{% endif %}">{% if i%2 == 1 %}--{% endif %}</span></td>
    <td class="span1">--</td>
    <td>
        <a href="{{ BASE_URL }}user?menu=1&tab=detail" class="btn"><i class="icon-eye-open"></i> 查看</a>
        {% if i%2 == 0 %}
        <a href="javascript:rec({{i}}, 1);" class="btn"><i class="icon-thumbs-up"></i> 取消推荐</a>
        {% else %}
        <a href="javascript:rec({{i}}, 0);" class="btn"><i class="icon-thumbs-up"></i> 推荐</a>
        {% endif %}
    </td>
</tr>      
{% endfor %}
</tbody>
</table>

<div class="pagination">
  <ul>
    <li><a href="#">上一页</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">下一页</a></li>
  </ul>
</div>