<div class="page-header">
  <h3>项目 <small>( 共12345678个，今日新增12个 )</small></h3>
</div>
<form action="" method="get" class="well form-horizontal clearfix">
    <div class="control-group">
    <label class="control-label">排列方式</label>
    <div class="controls">
        <select class="">
            <option>按照时间排列</option>
            <option>按发布人排列</option>
        </select>
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label">关键词</label>
    <div class="controls">
        <input type="text" name="keyword" value="" placeholder="可搜索ID、发布人或标题关键词" />
        <input type="submit" class="btn btn-primary" value="查询" />
    </div>
    </div>
</form>

<ul class="nav nav-tabs">
<li class="{% if NAV.tab=='1' %}active{% endif %}"><a href="{{ BASE_URL }}content?menu=3&tab=1">全部</a></li>
<li class="{% if NAV.tab=='noread' %}active{% endif %}"><a href="{{ BASE_URL }}content?menu=3&tab=noread">未审核</a></li>
<li class="{% if NAV.tab=='passed' %}active{% endif %}"><a href="{{ BASE_URL }}content?menu=3&tab=passed">已通过</a></li>
<li class="{% if NAV.tab=='baned' %}active{% endif %}"><a href="{{ BASE_URL }}content?menu=3&tab=baned">已驳回</a></li>
</ul>

<table class="table table-bordered">
<thead>
  <tr>
    <th>ID</th>
    <th>内容</th>
    <th>状态</th>
    <th>发布人</th>
    <th>时间</th>
    <th>操作</th>
  </tr>
</thead>
<tbody>
{% for i in range(1, 20) %}
<tr>
    <td>{{ i }}</td>
    <td>项目的标题信息，一般多少字也不会有啥问题的话，最好么来个截取</td>
    <td>{% if i%2 == 0 %}正常{% else %}禁止{% endif %}</td>
    <td><a href="{{ BASE_URL }}user?menu=1&tab=detail">林宇</a></td>
    <td>2011-12-12 09:00</td>
    <td>
        <select class="span2" name="handler" onchange="company_check({{i}}, this.value);">
            <option value="0" {% if NAV.tab=='noread' %}selected{% endif %}>未审核</option>
            <option value="1" {% if NAV.tab=='passed' %}selected{% endif %}>通过</option>
            <option value="2" {% if NAV.tab=='baned' %}selected{% endif %}>驳回</option>
        </select>
    </td>
</tr>      
{% endfor %}
</tbody>
</table>

<div class="pagination">
  <ul>
    <li><a href="#">上一页</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">下一页</a></li>
  </ul>
</div>