<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ CSS_URL }}main.css?v{{ STIME }}" type="text/css" />
    {% block css %}{% endblock %}
    {% block js_top %}{% endblock %}
</head>
<body>
<div id="hd">
    {% block hd %}{% endblock %}
</div>

<div id="bd">
    {% block bd %}{% endblock %}
</div>

<div id="ft">
    {% block ft %}{% endblock %}
</div>

{% block js_bottom %}{% endblock %}

{% if _get.changelog %}
<!-- CHANGELOG START (请不要在套页面的时候加入以下信息) -->
<style style="text/css">
.sui_changelog{ background: #000; color: #999; padding: 10px 2%; line-height: 150%; }
.sui_changelog a{ color: #ffc; }
</style>
<pre class="sui_changelog">{% block changelog %}{% endblock %}
<button onclick="location.href='?{{ Q }}&changelog=0'">关闭</button></pre>
<!-- CHANGELOG END -->
{% endif %}
</body>
</html>
